# IDE specific files
.idea/
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ukuleleFactory

# Qt specific files
*.pro.user
*.txt

# Makefile 
Makefile

# vim specific files
*.[a-z].un~
*.[a-z]~
[._]*.[a-z].un~
[._]*.[a-z]~
*.swp
*.swp~

# Qt and CMake build files
build-*
cmake-*
*.user
